body {
  margin: 0;
}

#div1 {
  background-color: #FF0000;
  height: 60px;
}

#div2 {
  background-color: #FFA500;
  height: 350px;
}

#div3 {
  background-color: #FFFF00;
  height: 320px;
}

#div4 {
  background-color: #008000;
  height: 385px;
}

#div5 {
  background-color: #0000FF;
  height: 200px;
}

#div6 {
  background-color: #4B0082;
  height: 200px;
}

@media (min-width: 768px) {
  #div1 {
    height: 60px;
  }

  #div2 {
    height: 562px;
    width: 100%;
  }

  #div3 {
    height: 282px;
    width: 100%;
  }

  #div4 {
    height: 360px;
    width: 50%;
    float: left;
  }

  #div5 {
    height: 180px;
    width: 50%;
    float: left;
  }

  #div6 {
    height: 180px;
    width: 50%;
    float: left;
  }
}

@media (min-width: 992px) {
  #div1 {
    height: 60px;
  }

  #div2 {
    height: 700px;
    width: 50%;
    float: left;
  }

  #div3 {
    height: 350px;
    width: 50%;
    float: left;
  }

  #div4 {
    height: 350px;
    width: 25%;
    float: left;
  }

  #div5 {
    height: 175px;
    width: 25%;
    float: left;
  }

  #div6 {
    height: 175px;
    width: 25%;
    float: left;
  }
}
