body {
  margin: 50px 0;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

img {
  width: 70px;
  margin-right: 20px;
}

.sns {
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

#github {
  margin: 0;
}

/* github이미지에만 margin-right안주는 방법
img:not(:last child) {
    margin-right: 20px;
}
