body {
  margin: 0;
  min-width: 768px;
  font-family: 'Noto Sans KR', sans-serif;
}

/* side navbar */

#side-navbar {
  background-color: black;
  height: 750px;
  width: 250px;
  position: fixed;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 160px;
}

ul {
  padding-left: 22px;
  margin-top: 50px;
  margin-bottom: 30px;
}

li {
  list-style: none;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.social {
  text-align: center;
}

.fb {
  width: 25px;
  margin-top: 25px;
  margin-right: 13px;
}

.twitter {
  width: 25px;
  margin-top: 25px;
}

/* main */

#main {
  margin-left: 250px;
}

#main .hero-header {
  text-align: center;
  background-image: url("../images/hero_header.jpg");
  background-size: cover;
  background-position: center center;
  height: 750px;
  line-height: 750px;
}

#main .info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

#main h1 {
  margin: 0;
  margin-bottom: 40px;
  color: white;
  font-size: 38px;
}

#main a {
  padding: 10px 40px;
  border: 2px solid white;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
