* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  color: white;
  height: 60px;
  background-color: #343536;
  font-size: 25px;
  padding-left: 30px;
  line-height: 60px;
}

#img1 {
  background-image: url("../images/main_img.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

#information {
  line-height: 320px;
  height: 320px;
}

#portfolio {
  padding: 0 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#portfolio h1 {
  font-size: 16px;
  color: #4A4A4A;
  margin: 0;
  margin-bottom: 10px;
}

#portfolio h2 {
  font-size: 20px;
  color: #1B1B1B;
  margin: 0;
  margin-bottom: 30px;
}

#portfolio p {
  margin: 0;
  font-size: 16px;
  color: #7A7A7A;
}

#img2 {
  background-image: url("../images/img1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 385px;
}

#img3 {
  background-image: url("../images/img2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

#img3 h1 {
  display: inline-block;
  padding: 9px 40px;
  border: 4px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: normal;
  vertical-align: middle;
}

#img4 {
  background-image: url("../images/img3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

@media (min-width: 768px) {
  #navbar {
    color: white;
    height: 60px;
    background-color: #343536;
    font-size: 25px;
    padding-left: 30px;
    line-height: 60px;
  }

  #img1 {
    background-image: url("../images/main_img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 562px;
  }

  #information {
    line-height: 282px;
    height: 282px;
  }

  #portfolio {
    padding: 0 65px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  #portfolio h1 {
    font-size: 16px;
    color: #4A4A4A;
    margin: 0;
    margin-bottom: 10px;
  }

  #portfolio h2 {
    font-size: 20px;
    color: #1B1B1B;
    margin: 0;
    margin-bottom: 30px;
  }

  #portfolio p {
    margin: 0;
    font-size: 16px;
    color: #7A7A7A;
  }

  #img2 {
    background-image: url("../images/img1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 50%;
    float: left;
  }

  #img3 {
    background-image: url("../images/img2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    text-align: center;
    line-height: 180px;
    width: 50%;
    float: left;
  }

  #img3 h1 {
    display: inline-block;
    padding: 9px 40px;
    border: 4px solid white;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: normal;
    vertical-align: middle;
  }

  #img4 {
    background-image: url("../images/img3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 50%;
    float: left;
  }
}

@media (min-width: 992px) {
  #navbar {
    color: white;
    height: 60px;
    background-color: #343536;
    font-size: 25px;
    padding-left: 30px;
    line-height: 60px;
  }

  #img1 {
    background-image: url("../images/main_img.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 50%;
    float: left;
  }

  #information {
    line-height: 350px;
    height: 350px;
    width: 50%;
    float: left;
  }

  #portfolio {
    padding: 0 65px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  #portfolio h1 {
    font-size: 16px;
    color: #4A4A4A;
    margin: 0;
    margin-bottom: 10px;
  }

  #portfolio h2 {
    font-size: 20px;
    color: #1B1B1B;
    margin: 0;
    margin-bottom: 30px;
  }

  #portfolio p {
    margin: 0;
    font-size: 16px;
    color: #7A7A7A;
  }

  #img2 {
    background-image: url("../images/img1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 25%;
    float: left;
  }

  #img3 {
    background-image: url("../images/img2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    text-align: center;
    line-height: 175px;
    width: 25%;
    float: left;
  }

  #img3 h1 {
    display: inline-block;
    padding: 9px 40px;
    border: 5px solid white;
    color: white;
    font-size: 20px;
    margin: 0;
    line-height: normal;
    vertical-align: middle;
  }

  #img4 {
    background-image: url("../images/img3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    width: 25%;
    float: left;
  }
}
