.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.qmark {
  font-size: 300%;
}

.open-qmark {
  margin-right: 15px;
  position: relative;
  top: 20px;
}

.close-qmark {
  margin-left: 15px;
  position: relative;
  top: 80px;
}

.figure {
  margin-top: 50px;
}

/*
css소스 줄은 최대한 간결히 하는 걸 습관하하자!!
*/
